@use 'variables' as v;

.grid {
	--grid-col: 1;
	display: grid;
	gap: v.$s-m;
	grid-template-columns: repeat(var(--grid-col), minmax(0, 1fr));
	grid-auto-rows: minmax(0, auto);
	align-items: start;
	&--10-col {
		--grid-col: 10;
	}
}

.grid__item {
	--grid-span: 1;
	grid-column-end: span var(--grid-span);
	padding: v.$s-s;
}

.grid__item--2-col {
	--grid-span: 2;
}
.grid__item--4-col {
	--grid-span: 4;
}
