// spacing
$s-xs: 0.5rem;
$s-s: 1rem;
$s-m: 2rem;

// font-size
$fs-s: 1.5rem;
$fs-m: 2rem;
$fs-xl: 5rem;

// line-height

// text outline
// $text-outline-s-red: 2px solid

// colours
$cl-red: #fa3c4f;
$cl-yellow: #ffe600;
$cl-orange: #de5626;
