<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" type="image/png" href="/assets/images/logo-fav.png" />
  </head>
  <body>
    <div class="container">
      <div class="container__item container__item--w-20">
        {% include "nav.html" %}
      </div>
      <div
        class="container__divider container__divider--light-yellow-red"
      ></div>
      <!-- <main class="container__item--w-80">
        <div class="container">
          
        </div>
      </main> -->
      {{ content | safe }}
    </div>
  </body>
</html>
