<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <script src="/assets/js/main.js" type="module"></script>
  </head>
  <body class="{{ page.fileSlug }}">
    <div class="container-main">
      {# NAVIGATION #}
      <div class="container-main__nav">{% include "nav.html" %}</div>

      {# CONTENT #}
      {{ content | safe }}
    </div>
    {% include "filters/heading-filter.html" %}
  </body>
</html>
