<div class="container-nav">
  <nav class="colour-toggle">
    <button
      class="colour-toggle__button toggle-bw"
      aria-label="Switch to grayscale mode"
    >
      <img
        src="/assets/images/logo-1.svg"
        alt="lost n found logo black and white"
      />
    </button>
    <img src="/assets/images/logo-apos.svg" />
    <button
      class="colour-toggle__button toggle-colour"
      aria-label="Switch to colour mode"
    >
      <img src="/assets/images/logo-2.svg" alt="lost n found logo colour" />
    </button>
  </nav>

  <nav class="container-nav">
    <ul class="nav-links">
      <li class="nav-links__item">
        <a
          href="/"
          class="nav-links__link {% if page.url == '/' %}active{% endif %}"
          >{% highlight "Home", "text-body" %}</a
        >
      </li>
      <li class="nav-links__item">
        <a
          href="/stories/jen"
          class="nav-links__link {% if '/stories' in page.url %}active{% endif %}"
        >
          {% highlight "Read", "text-body" %}
        </a>
      </li>
      <li class="nav-links__item">
        <a
          href="/contribute"
          class="nav-links__link {% if page.url == '/contribute/' %}active{% endif %}"
          >{% highlight "Contribute", "text-body" %}</a
        >
      </li>
    </ul>

    <ul class="nav-articles">
      {%- for story in collections.post -%}
        <li>
          <a
            class="article-link {% if page.url == story.url %}active{% endif %}"
            href="{{ story.url | url }}"
          >
            <div class="article-link__number">
              <span
                >{{ "0" + loop.index if loop.index < 10 else loop.index }}</span
              >
            </div>
            <div class="article-link__name-group">
              <div class="article-link__title">
                {{ story.data.title | fixRunt | safe }}
              </div>
              <div class="article-link__author">({{ story.data.author }})</div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
