<div class="container-cover">
  <div class="container-cover-text">
    <div class="text-caption" style="margin-bottom: 8px;">
      {{ '{' + type + '}' }}
    </div>

    <div>
      <div class="container-cover__title"><h1>{{ title }}</h1></div>
      <div class="container-cover__author">
        <img src="{{ image }}" alt="" class="container-cover__author__image" />
        {% highlight "by " + author %}
      </div>
    </div>
  </div>
  <div class="container-images">
    {% for image in images %}
      <div class="container-image">
        <img
          src="{{ image.src }}"
          alt=""
          class="container-image__image {% if image.type %}container-image__image--{{ image.type }}{% endif %}"
        />
        <figcaption class="container-image__caption">
          {{ image.caption }}
        </figcaption>
      </div>
    {% endfor %}
  </div>
</div>
