<div class="container-cover">
  <div class="container-cover__title text-display">{{ title }}</div>
  <div class="container-cover__author">
    <img src="{{ image }}" alt="" class="container-cover__author__image" />
    {% highlight "by " + author %}
  </div>
  <div class="container-images">
    {% for image in images %}
      <div class="container-image">
        <img src="{{ image.src }}" alt="" class="container-image__image" />
        <figcaption class="container-image__caption">
          {{ image.caption }}
        </figcaption>
      </div>
    {% endfor %}
  </div>
</div>
