@font-face {
  font-family: "Kommuna Narrow";
  src: url("/assets/fonts/Kommuna-Narrow.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kommuna Narrow";
  src: url("/assets/fonts/Kommuna-NarrowBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kommuna Narrow";
  src: url("/assets/fonts/Kommuna-NarrowBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kommuna";
  src: url("/assets/fonts/Kommuna-Normal.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kommuna";
  src: url("/assets/fonts/Kommuna-NormalBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kommuna";
  src: url("/assets/fonts/Kommuna-NormalBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Authentic Sans Condensed";
  src: url("/assets/fonts/authentic-sans-condensed-90.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Authentic Sans Condensed";
  src: url("/assets/fonts/authentic-sans-condensed-130.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Authentic Sans Condensed";
  src: url("/assets/fonts/authentic-sans-condensed-150.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS by Josh Comeau */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  overflow-y: hidden;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6,
em {
  font-weight: normal;
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* 
  11. Reset list styling
*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
  12. Reset link styles
*/
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

:root {
  --fs-caption: 1rem;
  --fs-subheading: 1.5rem;
  --fs-body: 1.75rem;
  --fs-intro: 2.75rem;
  --fs-display: clamp(4.2rem, 5.4634vw + 0.4439rem, 7rem);
  --gap-main: 2rem;
  --gap-secondary: 0.8rem;
  --pd-btn: 0.5rem 0.8rem;
  --pd-body: 0.8rem;
  --mg-link: 0 0.5rem;
  --mg-subheading: 0.5rem;
  --mg-indent: 6rem;
  --cl-text-body: hsl(7, 78%, 55%);
  --cl-bg: hsl(53, 60%, 90%);
  --cl-stroke: #ffe600;
  --cl-text-highlight: #de5626;
}

@media (max-width: 1100px) {
  :root {
    --mg-indent: 2rem;
  }
}
@media (max-width: 820px) {
  :root {
    --fs-display: clamp(3.3rem, calc(16.64vw + -0.028rem), 8.5rem);
    --fs-body: clamp(1.5rem, calc(3.5955vw + 0.6573rem), 2.5rem);
    --fs-about: clamp(2.9rem, calc(7.5506vw + 1.1303rem), 5rem);
    --fs-intro: clamp(2rem, calc(7.191vw + 0.3146rem), 4rem);
    --fs-caption: clamp(1rem, calc(1.7978vw + 0.5787rem), 1.5rem);
    --fs-subheading: var(--fs-body);
    --pd-body: clamp(1rem, calc(4.1026vw + -0.1026rem), 2rem);
    --mg-indent: 6rem;
  }
}
.trim-sans, .article-link__number span, .button-main, .text-heading, h2 {
  display: inline-block;
}
.trim-sans::before, .article-link__number span::before, .button-main::before, .text-heading::before, h2::before, .trim-sans::after, .article-link__number span::after, .button-main::after, .text-heading::after, h2::after {
  content: "";
  display: block;
  height: 0;
  pointer-events: none;
}
.trim-sans::before, .article-link__number span::before, .button-main::before, .text-heading::before, h2::before {
  margin-bottom: calc(-0.5lh + 0.48em);
}
.trim-sans::after, .article-link__number span::after, .button-main::after, .text-heading::after, h2::after {
  margin-top: calc(-0.5lh + 0.28em);
}

.text-center {
  text-align: center;
}

.text-display, h1 {
  font: 900 var(--fs-display) "Authentic Sans Condensed", sans-serif;
  line-height: 0.9;
  letter-spacing: -0.02em;
  word-spacing: normal;
  text-align: center;
  -webkit-text-stroke: 0.02em var(--cl-text-body);
  margin-top: 0.1em;
  filter: url(#rounded);
}

.text-body-sans {
  font: 500 var(--fs-body) "Authentic Sans Condensed", sans-serif;
}

.text-heading, h2 {
  font: 900 var(--fs-body) "Authentic Sans Condensed", sans-serif;
  line-height: 1.1;
  word-spacing: 0.05em;
  margin-bottom: var(--mg-subheading);
}

.text-subheading, .article-link__number, .article-link__name-group .article-link__title, .form label:not(.radio-group label),
.form legend, .button-main {
  font: 500 var(--fs-subheading) "Authentic Sans Condensed", sans-serif;
  line-height: 1.1;
  letter-spacing: normal;
  word-spacing: 0.05em;
}

.text-body, .text-highlight {
  text-indent: var(--mg-indent);
}
.text-body p:first-child, .text-highlight p:first-child, .text-body .text-question, .text-highlight .text-question,
.text-body .text-question + p,
.text-highlight .text-question + p {
  text-indent: 0;
}
.text-body--qa p:not(.text-question) {
  margin-left: var(--mg-indent);
}
@media (max-width: 820px) {
  .text-body--qa p:not(.text-question) {
    margin-left: 0;
  }
}

.text-question {
  font: 700 var(--fs-body) "Authentic Sans Condensed", sans-serif;
  word-spacing: normal;
  margin-bottom: var(--gap-secondary);
}
.text-question:not(:first-child) {
  margin-top: var(--gap-main);
}
@media (max-width: 820px) {
  .text-question {
    font-size: 1.1em;
    line-height: 1.1;
  }
}

.text-caption, .article-link__name-group .article-link__author, .container-image__caption, .form input:not([type=radio]),
.form textarea {
  font: 500 var(--fs-caption) "Kommuna", monospace;
}

.text-intro {
  font: 500 var(--fs-intro) "Authentic Sans Condensed", sans-serif;
  line-height: 1.05;
  letter-spacing: -0.03em;
  word-spacing: normal;
  margin-bottom: var(--gap-main);
}

.text-intro--large {
  font-size: var(--fs-display);
  line-height: 0.95;
  letter-spacing: -0.04em;
}
@media (max-width: 820px) {
  .text-intro--large {
    font: 500 var(--fs-about) "Authentic Sans Condensed", sans-serif;
    line-height: 1;
    letter-spacing: -0.03em;
    word-spacing: normal;
    text-align: center;
  }
}

.text-highlight {
  letter-spacing: -0.01em;
  font-weight: 700;
  text-indent: 0;
}

.text-highlight--red {
  font-weight: 900;
  letter-spacing: normal;
}

.text-highlight--large {
  font: 700 0.9em "Kommuna Narrow", serif;
  letter-spacing: normal;
  font-style: normal;
  margin: 0 0.15em;
  transform: translateY(-0.05em);
}

svg {
  display: inline-block;
  height: 1em;
  width: 100%;
  overflow: visible;
}
svg .text-highlight-stroke {
  stroke-width: 0.35em;
  stroke-linejoin: round;
  stroke: var(--cl-stroke);
  fill: none;
}
svg .text-highlight-fill {
  fill: var(--cl-text-highlight);
  stroke: none;
}

.text-align-left {
  text-align: left;
}

.text-no-wrap {
  white-space: nowrap;
}
@media (min-width: 820px) and (max-width: 1255px) {
  .text-no-wrap {
    white-space: normal;
  }
}

.button-main {
  position: relative;
  width: min-content;
  background-color: transparent;
  border-radius: calc(infinity * 1px);
  padding: var(--pd-btn);
  color: var(--cl-text-body);
  border: 2px dotted var(--cl-text-body);
  font-weight: 700;
  transition: background-color 400ms ease;
}
@media (hover: hover) and (pointer: fine) {
  .button-main:hover {
    background-color: var(--cl-stroke);
    font-weight: 900;
  }
}

.button-main.active {
  background-color: var(--cl-stroke);
  font-weight: 900;
}

.colour-toggle {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: start;
  align-items: stretch;
}
.colour-toggle__button {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: start;
  align-items: stretch;
  cursor: pointer;
}
.colour-toggle img {
  display: block;
  height: 60px;
  width: auto;
}

.colour-toggle__button img {
  transition: filter 0.1s ease;
}
.colour-toggle__button.toggle-grayscale:hover img {
  filter: grayscale(100%) brightness(0.8) contrast(2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-secondary);
  justify-content: start;
  align-items: stretch;
}
.form__group {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: start;
  align-items: stretch;
}
.form input:not([type=radio]),
.form textarea {
  outline: none;
  background: transparent;
  border: 2px dotted var(--cl-text-body);
  border-radius: 0.25em;
  padding: var(--pd-btn);
  color: var(--cl-text-highlight);
  font-weight: 700;
  transition: outline 20ms;
}
.form input:not([type=radio]):focus,
.form textarea:focus {
  border-style: solid;
  border-color: var(--cl-text-highlight);
  outline: 5px solid var(--cl-stroke);
}
.form textarea {
  resize: vertical;
}
.form label:not(.radio-group label),
.form legend {
  margin-bottom: var(--mg-subheading);
}
@media (max-width: 820px) {
  .form label:not(.radio-group label),
  .form legend {
    font-size: var(--fs-caption);
  }
}
.form .radio-group {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: start;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: var(--mg-subheading);
}
.form .radio-group label {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  align-items: center;
}
.form .radio-group label:not(:last-of-type)::after {
  content: "/";
  display: inline-block;
  margin: 0 var(--gap-secondary);
}
.form .radio-group label svg .text-highlight-stroke {
  stroke-width: 0;
}
.form .radio-group label:hover svg {
  font-weight: 700;
}
.form .radio-group label:hover svg .text-highlight-stroke {
  stroke-width: 10px;
}
.form .radio-group input:checked + label svg {
  font-weight: 700;
}
.form .radio-group input:checked + label svg .text-highlight-stroke {
  font-weight: bold;
  stroke-width: 10px;
}
.form .radio-group input {
  display: none;
}
.form #other-text {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  padding: 0;
  border: none;
  transition: opacity 0.2s ease, margin-top 0.2s ease;
}
.form #other-text::placeholder {
  color: var(--cl-text-body);
  opacity: 0.7;
  font-weight: normal;
}
.form #other-text.visible {
  visibility: visible;
  opacity: 1;
  max-height: 5em;
  padding: var(--pd-btn);
  border: 2px dotted var(--cl-text-body);
  margin-top: var(--gap-secondary);
}

.container-images {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
  align-items: stretch;
  margin-top: 2rem;
}

.container-image {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: start;
  align-items: stretch;
  width: 100%;
}
.container-image__image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  border: 2px solid var(--cl-stroke);
  box-shadow: 0 0 15px var(--cl-stroke);
}
.container-image__image--no-border {
  border: none;
  box-shadow: none;
}
.container-image__caption {
  text-align: center;
  text-indent: 0;
}
@media (max-width: 820px) {
  .container-image__caption {
    margin-top: var(--gap-secondary);
  }
}
@media (max-width: 820px) {
  .container-image {
    padding: var(--gap-main) 0;
  }
}

.container-logo {
  display: inline-block;
  width: 4.75em;
  transform: translateY(12%);
}

.container-main .body-nav {
  display: none;
}
@media (max-width: 820px) {
  .container-main .body-nav {
    display: block;
    width: 100%;
    padding: 0;
  }
  .container-main .body-nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: stretch;
    border-top: 2px dotted var(--cl-text-body);
    border-bottom: 2px dotted var(--cl-text-body);
  }
  .container-main .body-nav li {
    flex: 1;
    text-align: center;
    padding: var(--pd-btn);
  }
  .container-main .body-nav li:not(:last-child) {
    border-right: 2px dotted var(--cl-text-body);
  }
}

.container-main {
  --content-height: 100%;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: start;
  align-items: stretch;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}
.container-main > * {
  background-color: var(--cl-bg);
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: var(--pd-body);
  z-index: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container-main > *::-webkit-scrollbar {
  display: none;
}
.container-main__nav, .container-main__title {
  border-right: 2px dotted var(--cl-text-body);
}
.container-main__title, .container-main__body {
  width: 37.5%;
  height: var(--content-height);
}
.container-main__body .container-image {
  display: none;
}
@media (max-width: 1100px) {
  .container-main {
    flex-wrap: wrap;
  }
  .container-main__title, .container-main__body {
    width: 50%;
    flex-basis: 50%;
  }
  .container-main > .container-main__nav {
    border-right: none;
  }
}
@media (max-width: 820px) {
  .container-main {
    overflow: auto;
  }
  .container-main > *:not(.container-main__nav) {
    border-right: none;
  }
  .container-main__body {
    width: 100%;
    flex-basis: 100%;
    height: fit-content;
  }
  .container-main__title {
    width: 100%;
    flex-basis: 100%;
    border-bottom: 2px dotted var(--cl-text-body);
  }
  .container-main__body .container-image {
    display: block;
  }
}

.contribute .container-main__title {
  height: var(--content-height);
  display: flex;
  flex-direction: column;
  gap: var(--gap-main);
  justify-content: start;
  align-items: stretch;
}
.contribute .container-main__title p {
  margin-bottom: var(--mg-subheading);
}
.contribute .container-main__body {
  height: var(--content-height);
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: end;
  align-items: stretch;
}
@media (max-height: 800px) {
  .contribute .container-main__body {
    margin-top: var(--pd-body);
    justify-content: start;
  }
}
@media (max-width: 820px) {
  .contribute .container-main__title, .contribute .container-main__body {
    height: fit-content;
  }
}

.container-about {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: start;
  align-items: stretch;
  width: 75%;
  height: var(--content-height);
}
.container-about__body {
  width: 50%;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
  align-items: stretch;
}
.container-about__body li,
.container-about__body p {
  margin-bottom: var(--mg-subheading);
}
@media (max-width: 1100px) {
  .container-about {
    width: 100%;
  }
}
@media (max-width: 820px) {
  .container-about {
    height: auto;
  }
  .container-about__intro {
    height: var(--content-height);
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
  }
  .container-about__body {
    width: 100%;
    transform: none;
  }
}

.container-main__nav {
  display: flex;
  flex-direction: column;
  gap: var(--gap-main);
  justify-content: start;
  align-items: stretch;
  width: 25%;
}
@media (max-width: 1100px) {
  .container-main__nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99;
    display: block;
    padding: 0;
  }
}

.container-nav-top {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--cl-bg);
  position: sticky;
  top: 0;
  touch-action: none;
}
.container-nav-top #menu-button {
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 1100px) {
  .container-nav-top {
    align-items: center;
    padding: var(--pd-body);
  }
  .container-nav-top #menu-button {
    opacity: 1;
    pointer-events: auto;
  }
  .container-nav-top::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    border-bottom: 2px dotted var(--cl-text-body);
    pointer-events: none;
  }
}

.container-nav-links {
  display: flex;
  flex-direction: column;
  gap: var(--gap-main);
  justify-content: start;
  align-items: stretch;
  transition: opacity 0.3s ease, padding 0.3s ease, max-height 0.5s ease;
}
@media (max-width: 1100px) {
  .container-nav-links {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding: 0;
    align-items: center;
    pointer-events: none;
  }
}

.container-main__nav.show {
  height: 100svh;
}
.container-main__nav.show .container-nav-links {
  padding: 0 var(--pd-body) var(--pd-body);
  max-height: var(--content-height);
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
  overscroll-behavior: none;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: var(--mg-link);
  justify-content: start;
  align-items: stretch;
}
.nav-links__link > svg > .text-highlight-stroke {
  stroke-width: 0;
  transition: stroke-width 0.2s;
}
@media (max-width: 820px) {
  .nav-links__link > svg > .text-highlight-stroke {
    transition: none;
  }
}
.nav-links__link:hover > svg, .nav-links__link.active > svg {
  font-weight: 700;
}
.nav-links__link:hover > svg > .text-highlight-stroke, .nav-links__link.active > svg > .text-highlight-stroke {
  stroke-width: 10px;
}
@media (max-width: 1100px) {
  .nav-links {
    width: 100vw;
    position: sticky;
    top: 0;
    gap: 0;
    background-color: var(--cl-bg);
  }
  .nav-links > div {
    display: none;
  }
  .nav-links > li {
    flex: 1;
    text-align: center;
    padding: var(--pd-btn);
    border-bottom: 2px dotted var(--cl-text-body);
  }
  .nav-links > li:not(:last-child) {
    border-right: 2px dotted var(--cl-text-body);
  }
}

.nav-articles {
  display: flex;
  flex-direction: column;
  gap: var(--gap-main);
  justify-content: start;
  align-items: stretch;
}

.article-link {
  display: flex;
  flex-direction: row;
  gap: var(--gap-secondary);
  justify-content: start;
  align-items: stretch;
}
.article-link__number {
  font-size: var(--fs-caption);
}
.article-link__number {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--cl-text-body);
  transition: background-color 400ms ease;
  flex: 0 0 3ch;
  width: 3ch;
  height: 3ch;
  border-radius: 50%;
}
@media (max-width: 1100px) {
  .article-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.article-link.active .article-link__number,
.article-link:hover .article-link__number {
  background-color: var(--cl-stroke);
  font-weight: 700;
}
.article-link.active .article-link__title,
.article-link:hover .article-link__title {
  text-decoration: underline dotted 2px;
  text-underline-offset: 0.1em;
}

.container-cover {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.container-cover-text {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: start;
  align-items: center;
}
.container-cover__title {
  word-spacing: 9999px;
}
.container-cover__author {
  font-style: italic;
  transform: translateY(-20%);
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: end;
  align-items: center;
  position: relative;
  --image-height: 120px;
  height: var(--image-height);
  width: 100%;
}
@media (max-width: 820px) {
  .container-cover__author {
    --image-height: clamp(6.25rem, calc(17.9775vw + 2.0365rem), 11.25rem);
  }
}
.container-cover__author__image {
  position: absolute;
  object-fit: contain;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: var(--image-height);
  width: auto;
  z-index: -1;
}
@media (max-width: 820px) {
  .container-cover {
    height: 100%;
  }
  .container-cover-text {
    height: 100%;
    justify-content: center;
  }
  .container-cover__title {
    word-spacing: 0;
  }
  .container-cover .container-images {
    display: none;
  }
}

body {
  background: var(--cl-bg);
  font: 500 var(--fs-body) "Kommuna Narrow", serif;
  color: var(--cl-text-body);
  letter-spacing: -0.03em;
  word-spacing: -0.1em;
  line-height: 1.1;
  transition: filter 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
@media (max-width: 820px) {
  body {
    line-height: 1.2;
  }
}

html.grayscale body {
  --cl-text-body: #4e4e4e;
  --cl-bg: white;
  --cl-stroke: #dedede;
  --cl-text-highlight: #4e4e4e;
}
html.grayscale body img,
html.grayscale body video {
  filter: grayscale(100%) brightness(0.85) contrast(1.5);
}
html.grayscale body .colour-toggle__button.toggle-colour:hover img {
  filter: none;
}

/*# sourceMappingURL=styles.css.map */
