@use "../tokens" as v;
@use "../utilities" as u;

// IMAGE CONTAINER
.container-images {
  @include u.flex(column, v.$s-m);
  margin-top: v.$s-m;
}

.container-image {
  @include u.flex(column, v.$s-xs);
  width: 100%;
  &__image {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    border: 2px solid var(--cl-stroke);
    box-shadow: 0 0 15px var(--cl-stroke);
    &--no-border {
      border: none;
      box-shadow: none;
    }
  }
  &__caption {
    @extend .text-caption;
    text-align: center;
    text-indent: 0;
    @include u.responsive(one-column) {
      margin-top: var(--gap-secondary);
    }
  }

  // IN BODY TEXT ON SMALLER SCREENS
  @include u.responsive(one-column) {
    padding: var(--gap-main) 0;
  }
}

.container-logo {
  display: inline-block;
  width: 4.75em;
  transform: translateY(12%);
}
