@mixin flex(
  $direction: row,
  $gap: 0,
  $justify-content: start,
  $align-items: stretch
) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $justify-content;
  align-items: $align-items;
}
