@use "../utilities" as u;

.contribute .container-main {
  &__title {
    height: var(--content-height);
    @include u.flex(column, var(--gap-main));
    p {
      margin-bottom: var(--mg-subheading);
    }
  }

  &__body {
    height: var(--content-height);
    @include u.flex(column, 0, end);
  }

  @media (max-height: 800px) {
    &__body {
      margin-top: var(--pd-body);
      justify-content: start;
    }
  }

  @include u.responsive(one-column) {
    &__title,
    &__body {
      height: fit-content;
    }
  }
}
