@use "../tokens" as v;
@use "../utilities" as u;

.container-main {
  --content-height: 100%;
  @include u.flex();
  width: 100%;
  height: 100svh;
  overflow: hidden;

  > * {
    background-color: var(--cl-bg);
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: var(--pd-body);
    z-index: 1;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__nav,
  &__title {
    border-right: 2px dotted var(--cl-text-body);
  }

  &__title,
  &__body {
    width: 37.5%;
    height: var(--content-height);
  }

  // hide images in body
  &__body .container-image {
    display: none;
  }

  // RESPONSIVE: collapse to 2 column on larger tablets
  @include u.responsive(collapse) {
    flex-wrap: wrap;
    &__title,
    &__body {
      width: 50%;
      flex-basis: 50%;
    }

    > .container-main__nav {
      border-right: none;
    }
  }

  @include u.responsive(one-column) {
    overflow: auto;
    > *:not(.container-main__nav) {
      border-right: none;
    }
    &__body {
      width: 100%;
      flex-basis: 100%;
      height: fit-content;
    }

    &__title {
      width: 100%;
      flex-basis: 100%;
      border-bottom: 2px dotted var(--cl-text-body);
    }

    &__body .container-image {
      display: block;
    }
  }
}
