@use "variables" as v;
@use "../fonts";
@use "../utilities/responsive" as u;

// TYPE UTILITIES
.trim-sans {
  display: inline-block;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 0;
    pointer-events: none;
  }

  &::before {
    margin-bottom: calc(-0.5lh + 0.48em);
  }

  &::after {
    margin-top: calc(-0.5lh + 0.28em);
  }
}

.text-center {
  text-align: center;
}

// TYPE CLASSES
.text-display {
  font: 900 var(--fs-display) fonts.$sans;
  line-height: 0.9;
  letter-spacing: -0.02em;
  word-spacing: normal;
  text-align: center;
  -webkit-text-stroke: 0.02em var(--cl-text-body);
  margin-top: 0.1em;
  filter: url(#rounded);
}

.text-body-sans {
  font: 500 var(--fs-body) fonts.$sans;
}

.text-heading {
  font: 900 var(--fs-body) fonts.$sans;
  line-height: 1.1;
  word-spacing: 0.05em;
  margin-bottom: var(--mg-subheading);
  @extend .trim-sans;
}

.text-subheading {
  font: 500 var(--fs-subheading) fonts.$sans;
  line-height: 1.1;
  letter-spacing: normal;
  word-spacing: 0.05em;
}

.text-body {
  text-indent: var(--mg-indent);
  // reset indent for first paragraph, questions & paragraph right after question
  & p:first-child,
  & .text-question,
  .text-question + p {
    text-indent: 0;
  }
  // margin for q&a body
  &--qa p:not(.text-question) {
    margin-left: var(--mg-indent);
    @include u.responsive(one-column) {
      margin-left: 0;
    }
  }
}

.text-question {
  font: 700 var(--fs-body) fonts.$sans;
  word-spacing: normal;
  margin-bottom: var(--gap-secondary);
  &:not(:first-child) {
    margin-top: var(--gap-main);
  }

  @include u.responsive(one-column) {
    font-size: 1.1em;
    line-height: 1.1;
  }
}

.text-caption {
  font: 500 var(--fs-caption) fonts.$serif-normal;
}

.text-intro {
  font: 500 var(--fs-intro) fonts.$sans;
  line-height: 1.05;
  letter-spacing: -0.03em;
  word-spacing: normal;
  margin-bottom: var(--gap-main);
}

.text-intro--large {
  font-size: var(--fs-display);
  line-height: 0.95;
  letter-spacing: -0.04em;

  @include u.responsive(one-column) {
    font: 500 var(--fs-about) fonts.$sans;
    line-height: 1;
    letter-spacing: -0.03em;
    word-spacing: normal;
    text-align: center;
  }
}

.text-highlight {
  @extend .text-body;
  letter-spacing: -0.01em;
  font-weight: 700;
  text-indent: 0;
}

.text-highlight--red {
  font-weight: 900;
  letter-spacing: normal;
}

.text-highlight--large {
  font: 700 0.9em fonts.$serif;
  letter-spacing: normal;
  font-style: normal;
  margin: 0 0.15em;
  transform: translateY(-0.05em);
}

// DEFAULT
h1 {
  @extend .text-display;
}

h2 {
  @extend .text-heading;
}

// rounded border text
svg {
  display: inline-block;
  height: 1em;
  width: 100%;
  overflow: visible;
  .text-highlight-stroke {
    stroke-width: 0.35em;
    stroke-linejoin: round;
    stroke: var(--cl-stroke);
    fill: none;
  }
  .text-highlight-fill {
    fill: var(--cl-text-highlight);
    stroke: none;
  }
}

// TYPE UTILITIES
.text-align-left {
  text-align: left;
}

.text-no-wrap {
  white-space: nowrap;
  // wrap the stories' titles in nav
  // don't wrap for smaller screen
  @media (min-width: 820px) and (max-width: 1255px) {
    white-space: normal;
  }
}
