@use "sass:map";

// spacing
$s-xxs: 0.25rem;
$s-xs: 0.5rem;
$s-s: 0.8rem;
$s-m: 2rem;
$s-l: 4rem;
$s-xl: 6rem;
$s-xxl: 12rem;

// font-size-serif
$fs-xs: 1rem;
$fs-s: 1.5rem;
$fs-m: 1.75rem;
$fs-l: 2.75rem;
$fs-xl: clamp(4.2rem, calc(5.4634vw + 0.4439rem), 7rem);

// line-height

// text outline
// $text-outline-s-red: 2px solid

// colours
$cl-light: hsl(53, 60%, 90%);
$cl-red: hsl(7, 78%, 55%);
$cl-yellow: #ffe600;
$cl-orange: #de5626;

// gradient
$gradient: linear-gradient(
  90deg,
  $cl-light 0%,
  hsl(54, 100%, 85%) 35%,
  $cl-yellow 50%,
  hsl(54, 100%, 85%) 75%,
  $cl-light 100%
);

// breakpoint
$breakpoints: (
  collapse: 1100px,
  one-column: 820px,
);

:root {
  // FONT SIZE
  --fs-caption: #{$fs-xs};
  --fs-subheading: #{$fs-s};
  --fs-body: #{$fs-m};
  --fs-intro: #{$fs-l};
  --fs-display: #{$fs-xl};

  // GAP
  --gap-main: #{$s-m};
  --gap-secondary: #{$s-s};

  // PADDING
  --pd-btn: #{$s-xs} #{$s-s};
  --pd-body: #{$s-s};

  // MARGIN
  --mg-link: 0 #{$s-xs};
  --mg-subheading: #{$s-xs};
  --mg-indent: #{$s-xl};

  // COLOURS
  --cl-text-body: #{$cl-red};
  --cl-bg: #{$cl-light};
  --cl-stroke: #{$cl-yellow};
  --cl-text-highlight: #{$cl-orange};

  // HIGHLIGHT STROKE WIDTH
}

@media (max-width: map.get($breakpoints, collapse)) {
  :root {
    --mg-indent: #{$s-m};
  }
}

@media (max-width: map.get($breakpoints, one-column)) {
  :root {
    --fs-display: clamp(3.3rem, calc(16.64vw + -0.028rem), 8.5rem);
    --fs-body: clamp(1.5rem, calc(3.5955vw + 0.6573rem), 2.5rem);
    --fs-about: clamp(2.9rem, calc(7.5506vw + 1.1303rem), 5rem);
    --fs-intro: clamp(2rem, calc(7.191vw + 0.3146rem), 4rem);
    --fs-caption: clamp(1rem, calc(1.7978vw + 0.5787rem), 1.5rem);
    --fs-subheading: var(--fs-body);

    --pd-body: clamp(1rem, calc(4.1026vw + -0.1026rem), 2rem);
    --mg-indent: #{$s-xl};
  }
}
