@use "variables" as v;
@use "utilities" as *;
@use "type" as *;

// PAGE CONTAINER
.container-main {
  @include flex();
  background-color: var(--cl-bg);
  width: 100%;
  height: 100svh;
  overflow: hidden;
  > * {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: v.$s-s;
    z-index: 1;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &:not(:last-child) {
      border-right: 2px dotted var(--cl-text-body);
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__nav {
    width: 25%;
  }
  &__title,
  &__body {
    width: 37.5%;
  }
  &__full {
    width: 75%;
  }
}

// ABOUT PAGE
.container-about {
  @include flex(column, v.$s-xl);
  width: 75%;
  &__body {
    // 50% of 75%
    width: 50%;
    transform: translateX(100%);
    @include flex(column, v.$s-m);
    li {
      margin-bottom: var(--gap-subheading);
    }
  }
}

// NAV CONTAINER
.container-nav {
  @include flex(column, var(--gap-main));
}

.container-logo {
  display: inline-block;
  width: 4.75em;
  transform: translateY(12%);
}

.nav-links {
  @include flex;

  // <li>
  &__item {
    @include flex;
  }
  &__item:not(:last-of-type)::after {
    content: "/";
    display: inline-block;
    margin: var(--mg-link);
  }

  // <a>
  &__link {
    // default state: no stroke, red text
    > svg > .text-highlight-stroke {
      stroke-width: 0;
      transition: stroke-width 0.2s;
    }
    // hover & active state: with stroke, orange text
    &:hover > svg,
    &.active > svg {
      font-weight: 700;
      > .text-highlight-stroke {
        stroke-width: 10px;
      }
    }
  }
}

.nav-articles {
  @include flex(column, var(--gap-main));
}

.article-link {
  @include flex(row, var(--gap-secondary));
  &__number {
    @extend .text-subheading;
    font-size: 0.8em;
    span {
      @extend .trim-sans;
    }
    @include flex($justify-content: center, $align-items: center);
    align-self: start;
    border: 1px solid var(--cl-text-body);
    transition: background-color 400ms ease;
    // circle (no flex grow)
    flex: 0 0 3ch;
    width: 3ch;
    height: 3ch;
    border-radius: 50%;
  }
  &__name-group {
    .article-link__title {
      @extend .text-subheading;
    }
    .article-link__author {
      font-family: "Kommuna Narrow";
      font-size: var(--fs-subheading);
    }
  }
}

.article-link.active,
.article-link:hover {
  .article-link__number {
    background-color: var(--cl-stroke);
    font-weight: 700;
  }

  .article-link__title {
    text-decoration: underline dotted 2px;
    text-underline-offset: 0.1em;
  }
}

// TITLE PAGE CONTAINERS
.container-cover {
  @include flex(column, 0, start, center);
  width: 100%;
  &__title {
    word-spacing: 9999px;
  }
  &__author {
    // move up so it overlaps with title
    transform: translateY(-20%);
    @include flex(
      $direction: column,
      $justify-content: end,
      $align-items: center
    );
    position: relative;
    --image-width: 120px;
    --image-height: 120px;
    height: var(--image-height);
    width: 100%;

    &__image {
      position: absolute;
      object-fit: contain;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: var(--image-height);
      width: auto;
      z-index: -1;
    }
  }
}

// IMAGE CONTAINER
.container-images {
  @include flex(column, v.$s-m);
  margin-top: v.$s-m;
}

.container-image {
  @include flex(column, v.$s-xs);
  width: 100%;
  &__image {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    border: 2px solid var(--cl-stroke);
    box-shadow: 0 0 15px var(--cl-stroke);
    &--no-border {
      border: none;
      box-shadow: none;
    }
  }
  &__caption {
    @extend .text-caption;
    text-align: center;
  }
}
