@use "utilities" as u;
@use "variables" as v;
@use "type";

.form {
  @include u.flex(column, var(--gap-secondary));
  // margin-top: auto;
  &__group {
    @include u.flex(column);
  }

  input:not([type="radio"]),
  textarea {
    outline: none;
    background: transparent;
    border: 2px dotted var(--cl-red);
    border-radius: 0.25em;
    padding: var(--pd-btn);
    @extend .text-caption;
    color: var(--cl-orange);
    font-weight: 700;
    transition: outline 20ms;

    &:focus {
      border-style: solid;
      border-color: var(--cl-orange);
      outline: 5px solid var(--cl-yellow);
    }
  }

  textarea {
    resize: vertical;
  }

  label:not(.radio-group label),
  legend {
    @extend .text-subheading;
    margin-bottom: var(--gap-subheading);
  }

  // radio label
  .radio-group {
    @include u.flex;

    // radio "buttons"
    label {
      @include u.flex($justify-content: center, $align-items: center);

      // slash (/) after each radio
      &:not(:last-of-type)::after {
        content: "/";
        display: inline-block;
        margin: 0 var(--gap-secondary);
      }

      // default state
      svg .text-highlight-stroke {
        stroke-width: 0;
      }

      // hover state
      &:hover svg {
        font-weight: 700;
        .text-highlight-stroke {
          stroke-width: 10px;
        }
      }
    }
    // radio checked
    input:checked + label svg {
      font-weight: 700;
      .text-highlight-stroke {
        font-weight: bold;
        stroke-width: 10px;
      }
    }
    // hide radio button
    input {
      display: none;
    }
  }

  // specifying other field
  #other-text {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    padding: 0;
    border: none;
    transition:
      opacity 0.2s ease,
      margin-top 0.2s ease;
    &::placeholder {
      color: var(--cl-red);
      opacity: 0.7;
      font-weight: normal;
    }
  }

  #other-text.visible {
    visibility: visible;
    opacity: 1;
    max-height: 5em;
    padding: var(--pd-btn);
    border: 2px dotted var(--cl-red);
  }
}
