@use "variables" as v;
@use "fonts";

// TYPE UTILITIES
@mixin text-center {
  text-align: center;
}

// TYPE CLASSES
body {
  font: 500 v.$fs-body fonts.$serif;
  color: v.$cl-red;
  letter-spacing: -0.03em;
  word-spacing: -0.08em;
  line-height: 1.1;
}

.text-heading {
  font: 900 v.$fs-heading fonts.$sans;
  line-height: 0.9;
  letter-spacing: -0.02em;
  word-spacing: normal;
  @include text-center;
  -webkit-text-stroke: 0.02em v.$cl-red;
  margin-top: 0.1em;
  filter: url(#rounded);
}

.text-body-sans {
  font: 500 v.$fs-body fonts.$sans;
  line-height: 1.1;
  word-spacing: normal;
}

.text-body {
  text-indent: v.$s-l;
  // reset indent for first paragraph, questions & paragraph right after question
  & p:first-child,
  & .text-question,
  .text-question + p {
    text-indent: 0;
  }
  // margin for q&a body
  &--qa p:not(.text-question) {
    margin-left: v.$s-xl;
  }
}

.text-question {
  font: 500 v.$fs-body fonts.$sans;
  word-spacing: normal;
  margin-bottom: v.$s-s;
  &:not(:first-child) {
    margin-top: v.$s-m;
  }
}

.text-caption {
  font: 500 v.$fs-caption fonts.$serif-normal;
  // word-spacing: -0.05em;
  // font-size: v.$fs-caption;
}

.text-subheading {
  @extend .text-body;
  letter-spacing: -0.01em;
  font-weight: 700;
}

.text-intro {
  font: 500 v.$fs-body-large fonts.$sans;
  line-height: 1.05;
  letter-spacing: -0.03em;
  word-spacing: normal;
  margin-bottom: v.$s-m;
}

.text-highlight-red {
  font-weight: 900;
  letter-spacing: normal;
}

// rounded border text
svg {
  display: inline-block;
  height: 1em;
  width: 100%;
  overflow: visible;
  & .text-highlight-stroke {
    stroke-width: 10px;
    stroke-linejoin: round;
    stroke: v.$cl-yellow;
    fill: none;
  }
  & .text-highlight-fill {
    fill: v.$cl-orange;
    stroke: none;
  }
}
