@use "variables" as v;
@use "fonts";
@use "utilities";

// TYPE UTILITIES
@mixin text-center {
  text-align: center;
}

// TYPE CLASSES
body {
  font: 500 var(--fs-body) fonts.$serif;
  color: v.$cl-red;
  letter-spacing: -0.03em;
  word-spacing: -0.1em;
  line-height: 1.1;
  background-color: var(--cl-bg);
}

.text-display {
  font: 900 v.$fs-heading fonts.$sans;
  line-height: 0.9;
  letter-spacing: -0.02em;
  word-spacing: normal;
  @include text-center;
  -webkit-text-stroke: 0.02em v.$cl-red;
  margin-top: 0.1em;
  filter: url(#rounded);
}

.text-body-sans {
  font: 500 var(--fs-body) fonts.$sans;
}

.text-heading {
  font: 900 var(--fs-body) fonts.$sans;
  line-height: 1.1;
  word-spacing: 0.05em;
  @extend .trim-sans;
}

.text-subheading {
  font: 500 var(--fs-subheading) fonts.$sans;
  line-height: 1.1;
  letter-spacing: normal;
  word-spacing: 0.05em;
}

.text-body {
  text-indent: v.$s-xl;
  // reset indent for first paragraph, questions & paragraph right after question
  & p:first-child,
  & .text-question,
  .text-question + p {
    text-indent: 0;
  }
  // margin for q&a body
  &--qa p:not(.text-question) {
    margin-left: v.$s-xl;
  }
}

.text-question {
  font: 500 var(--fs-body) fonts.$sans;
  word-spacing: normal;
  margin-bottom: var(--gap-secondary);
  &:not(:first-child) {
    margin-top: v.$s-m;
  }
}

.text-caption {
  font: 500 v.$fs-caption fonts.$serif-normal;
}

.text-intro {
  font: 500 v.$fs-m-large fonts.$sans;
  line-height: 1.05;
  letter-spacing: -0.03em;
  word-spacing: normal;
  margin-bottom: v.$s-m;
}

.text-intro--large {
  // font: 500 v.$fs-heading font.$sans;
  font-size: v.$fs-heading;
  line-height: 0.95;
  letter-spacing: -0.04em;
}

.text-highlight {
  @extend .text-body;
  letter-spacing: -0.01em;
  font-weight: 700;
  text-indent: 0;
}

.text-highlight--red {
  font-weight: 900;
  letter-spacing: normal;
}

.text-highlight--large {
  font: 700 0.9em fonts.$serif;
  letter-spacing: normal;
  font-style: normal;
  margin: 0 v.$s-xs;
  transform: translateY(-0.05em);
}

// DEFAULT
h1 {
  @extend .text-display;
}

h2 {
  @extend .text-heading;
}

// rounded border text
svg {
  display: inline-block;
  height: 1em;
  width: 100%;
  overflow: visible;
  .text-highlight-stroke {
    stroke-width: 0.35em;
    stroke-linejoin: round;
    stroke: v.$cl-yellow;
    fill: none;
  }
  .text-highlight-fill {
    fill: v.$cl-orange;
    stroke: none;
  }
}

// TYPE UTILITIES
.text-align-left {
  text-align: left;
}
