@use "variables" as v;

.bg-red {
  background-color: v.$cl-red;
}

.bg-yellow {
  background-color: v.$cl-yellow;
}

@mixin flex(
  $direction: row,
  $gap: 0,
  $justify-content: start,
  $align-items: stretch
) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $justify-content;
  align-items: $align-items;
}

.grayscale {
  --cl-red: #3a3a3a;
  --cl-light: white;
  --cl-yellow: #eaeaea;
  --cl-orange: #3a3a3a;
  --cl-text-body: #3a3a3a;
  img,
  video {
    filter: grayscale(100%) brightness(0.8) contrast(2);
  }
}

// TRIM TEXT
.trim-sans {
  display: inline-block;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 0;
    pointer-events: none;
  }

  &::before {
    margin-bottom: calc(-0.5lh + 0.48em);
  }

  &::after {
    margin-top: calc(-0.5lh + 0.28em);
  }
}
