@use "variables" as v;

.bg-red {
  background-color: var(--cl-text-body);
}

.bg-yellow {
  background-color: var(--cl-stroke);
}

@mixin flex(
  $direction: row,
  $gap: 0,
  $justify-content: start,
  $align-items: stretch
) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $justify-content;
  align-items: $align-items;
}

body {
  transition:
    filter 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease;
}

html.grayscale body {
  --cl-text-body: #3a3a3a;
  --cl-bg: white;
  --cl-stroke: #eaeaea;
  --cl-text-highlight: #3a3a3a;
  img,
  video {
    filter: grayscale(100%) brightness(0.8) contrast(2);
  }

  .colour-toggle__button {
    &.toggle-colour:hover img {
      filter: none;
    }
  }
}

// TRIM TEXT
.trim-sans {
  display: inline-block;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 0;
    pointer-events: none;
  }

  &::before {
    margin-bottom: calc(-0.5lh + 0.48em);
  }

  &::after {
    margin-top: calc(-0.5lh + 0.28em);
  }
}
