// spacing
$s-xxs: 0.25rem;
$s-xs: 0.5rem;
$s-s: 1rem;
$s-m: 2rem;
$s-l: 4rem;
$s-xl: 6rem;

// font-size-serif
$fs-caption: 1rem;
$fs-s: 1.5rem;
$fs-m: 1.75rem;
$fs-m-large: 2.75rem;
$fs-heading: 5rem;

// line-height

// text outline
// $text-outline-s-red: 2px solid

// colours
$cl-light: hsl(53, 60%, 90%);
$cl-red: hsl(7, 78%, 55%);
$cl-yellow: #ffe600;
$cl-orange: #de5626;

// gradient
$gradient: linear-gradient(
  90deg,
  $cl-light 0%,
  hsl(54, 100%, 85%) 35%,
  $cl-yellow 50%,
  hsl(54, 100%, 85%) 75%,
  $cl-light 100%
);

:root {
  // FONT SIZE
  --fs-subheading: #{$fs-s};
  --fs-body: #{$fs-m};

  // GAP
  --gap-main: #{$s-m};
  --gap-secondary: #{$s-s};
  --gap-subheading: #{$s-xxs};

  // PADDING
  --pd-btn: #{$s-xs} #{$s-s};

  // MARGIN
  --mg-link: 0 #{$s-xs};

  // COLOURS

  --cl-text-body: #{$cl-red};
  --cl-bg: #{$cl-light};
  --cl-stroke: #{$cl-yellow};
  --cl-text-highlight: #{$cl-orange};

  // HIGHLIGHT STROKE WIDTH
}
