@font-face {
  font-family: "Kommuna Narrow";
  src: url("/assets/fonts/Kommuna-Narrow.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kommuna Narrow";
  src: url("/assets/fonts/Kommuna-NarrowBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kommuna Narrow";
  src: url("/assets/fonts/Kommuna-NarrowBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kommuna";
  src: url("/assets/fonts/Kommuna-Normal.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kommuna";
  src: url("/assets/fonts/Kommuna-NormalBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kommuna";
  src: url("/assets/fonts/Kommuna-NormalBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Authentic Sans Condensed";
  src: url("/assets/fonts/authentic-sans-condensed-90.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Authentic Sans Condensed";
  src: url("/assets/fonts/authentic-sans-condensed-130.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Authentic Sans Condensed";
  src: url("/assets/fonts/authentic-sans-condensed-150.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS by Josh Comeau */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  overflow-y: hidden;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6,
em {
  font-weight: normal;
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* 
  11. Reset list styling
*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
  12. Reset link styles
*/
a {
  color: inherit;
  text-decoration: none;
}

:root {
  --cl-light: hsl(53, 60%, 90%);
  --cl-red: hsl(7, 80%, 55%);
  --cl-yellow: #ffe600;
  --cl-orange: #de5626;
}

body {
  font: 500 1.75rem "Kommuna Narrow", serif;
  color: var(--cl-red);
  letter-spacing: -0.03em;
  word-spacing: -0.08em;
  line-height: 1.1;
}

.text-heading {
  font: 900 5rem "Authentic Sans Condensed", sans-serif;
  line-height: 0.9;
  letter-spacing: -0.02em;
  word-spacing: normal;
  text-align: center;
  -webkit-text-stroke: 0.02em var(--cl-red);
  margin-top: 0.1em;
  filter: url(#rounded);
}

.text-body-sans {
  font: 500 1.75rem "Authentic Sans Condensed", sans-serif;
  line-height: 1.1;
  word-spacing: normal;
}

.text-body, .text-subheading {
  text-indent: 4rem;
}
.text-body p:first-child, .text-subheading p:first-child, .text-body .text-question, .text-subheading .text-question,
.text-body .text-question + p,
.text-subheading .text-question + p {
  text-indent: 0;
}
.text-body--qa p:not(.text-question) {
  margin-left: 6rem;
}

.text-question {
  font: 500 1.75rem "Authentic Sans Condensed", sans-serif;
  word-spacing: normal;
  margin-bottom: 1rem;
}
.text-question:not(:first-child) {
  margin-top: 2rem;
}

.text-caption, .container-image__caption {
  font: 500 0.875rem "Kommuna", monospace;
}

.text-subheading {
  letter-spacing: -0.01em;
  font-weight: 700;
}

.text-intro {
  font: 500 2.75rem "Authentic Sans Condensed", sans-serif;
  line-height: 1.05;
  letter-spacing: -0.03em;
  word-spacing: normal;
  margin-bottom: 2rem;
}

.text-highlight-red {
  font-weight: 900;
  letter-spacing: normal;
}

svg {
  display: inline-block;
  height: 1em;
  width: 100%;
  overflow: visible;
}
svg .text-highlight-stroke {
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke: var(--cl-yellow);
  fill: none;
}
svg .text-highlight-fill {
  fill: var(--cl-orange);
  stroke: none;
}

.bg-red {
  background-color: var(--cl-red);
}

.bg-yellow {
  background-color: var(--cl-yellow);
}

.grayscale {
  --cl-red: #3a3a3a;
  --cl-light: white;
  --cl-yellow: #eaeaea;
  --cl-orange: #3a3a3a;
}
.grayscale img,
.grayscale video {
  filter: grayscale(100%) brightness(0.8) contrast(2);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: start;
  align-items: stretch;
  background-color: var(--cl-light);
  width: 100%;
  height: 100svh;
  overflow: hidden;
}
.container .container__item {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
  z-index: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container .container__item:not(:last-child) {
  border-right: 2px dotted var(--cl-red);
}
.container .container__item.container__item--w-20 {
  width: 25%;
}
.container .container__item.container__item--w-40 {
  width: 37.5%;
}
.container .container__item.container__item--w-80 {
  width: 80%;
}
.container .container__item::-webkit-scrollbar {
  display: none;
}

.container .container__divider {
  display: none;
  flex: 0 0 1px;
  position: relative;
  z-index: 2;
  pointer-events: none;
  --gradient: linear-gradient(90deg, var(--cl-light) 0%, hsl(54, 100%, 85%) 35%, var(--cl-yellow) 50%, hsl(54, 100%, 85%) 75%, var(--cl-light) 100%);
}
.container .container__divider::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--cl-red);
}

.container-nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
  align-items: stretch;
}

.container-logo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: start;
  align-items: stretch;
}

.container-article-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
  align-items: stretch;
}
.container-article-links__link {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: start;
  align-items: stretch;
}
.container-article-links__link__name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: start;
  align-items: stretch;
}

a {
  cursor: pointer;
}

.container-links a svg {
  font-weight: 500;
}
.container-links a:hover svg, .container-links a.active svg {
  font-weight: 700;
}
.container-links a .text-highlight-stroke {
  stroke-width: 0;
  transition: stroke-width 0.2s;
}
.container-links a .text-highlight-fill {
  fill: var(--cl-red);
}
.container-links a:hover .text-highlight-stroke, .container-links a.active .text-highlight-stroke {
  stroke-width: 10px;
}

.container-article-links a.active .container-article-links__link__name div:first-child,
.container-article-links a:hover .container-article-links__link__name div:first-child {
  -webkit-text-decoration: underline dotted 2px;
          text-decoration: underline dotted 2px;
  text-underline-offset: 0.15em;
}

.container-cover {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.container-cover__title {
  word-spacing: 9999px;
}
.container-cover__author {
  transform: translateY(-20%);
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: end;
  align-items: center;
  position: relative;
  --image-width: 120px;
  --image-height: 120px;
  height: var(--image-height);
  width: 100%;
}
.container-cover__author__image {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: var(--image-height);
  width: auto;
  z-index: -1;
}

.container-images {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
  align-items: stretch;
  margin-top: 2rem;
}

.container-image {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: start;
  align-items: stretch;
  width: 100%;
}
.container-image__image {
  width: 100%;
  height: auto;
  border-radius: 4%/6%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid var(--cl-yellow);
  box-shadow: 0 0 15px var(--cl-yellow);
}/*# sourceMappingURL=styles.css.map */